body {
    background-color: #3F403F;
}

h2 {
    text-align: center;
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    color: #9FB8AD;
    background-color: E6E8E6;
}

