.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  
  p {
    color: #E6E8E6;
    font-family: Rubik;
    line-height: 2;
  }
  
  body {
    background-color: #3F403F;
  }

  h1 {
    text-shadow: 2px 2px 20px;
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    color: #9FB8AD;
  }

  h2 {
    text-shadow: 2px 2px 30px;
    text-decoration: underline;
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    color: #9FB8AD;
    font-style: italic;
    background: #475841;
    padding: 5px;
  }
  
  sup {
    color: #9FB8AD;
    font-style: italic;
  }
  
  div {
    padding: 5px;
}

/* buttons customization*/

.shorts {
  background-color: #475841;
}

.links {
  padding: 1px;
  border-radius: 8px;
  margin: 0px 400px 0px 400px;
  text-align: center;
  background-color: #475841;
}

.links a {
  font-family: Rubik;
}

.links h3 {
  font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
  color: #9FB8AD;
  font-size: 1.5em;
}

.shortcut-link {
  background-color: #9FB8AD;
  color: #3F403F;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  display: inline-block; 
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.shortcut-link:hover {
  background-color: #E6E8E6;
  box-shadow: 0 6px 12px gray
}


.child a {
  background: #9FB8AD;
  color: #3F403F; 
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 4px 8px;
}

.top:hover {
  background-color: #E6E8E6;
  box-shadow: 0 6px 12px gray 
}

.home a {
  background: #9FB8AD;
  color: #3F403F; 
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 4px 8px;
  font-size: 30px
}

.back:hover {
  background-color: #E6E8E6;
  box-shadow: 0 6px 12px gray 
}

