h1 {
    color: #9FB8AD; 
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    text-transform: uppercase;
    text-align: center;
}

h2{
    margin-left: 100px;
    color: #9FB8AD;
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    text-shadow: 2px 2px 20px;
}


h3{
    color: #9FB8AD;
    text-transform: uppercase;
    font-family: 'DM Serif Display', 'Noto Serif', Tropikal, Georgia, serif;
    text-shadow: 2px 2px 20px;
    text-align: center;
    
}

body{

    background-color: #3F403F;
}


li {
    font-family: Luciole, 'Source Sans Pro', Futura, 'Gill Sans', Tahoma, Geneva, sans-serif;
    color: #E6E8E6;
    line-height: 21px;
    word-spacing: 3px;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    text-align: center;
    font-family: Luciole, 'Source Sans Pro', Futura, 'Gill Sans', Tahoma, Geneva, sans-serif;
    color: #E6E8E6;
    line-height: 21px;
    word-spacing: 3px;
    margin-left: 100px;
    margin-right: 100px;
}

.child {
    text-align: center;
    margin-top: 20px;
}

.child p {
    display: inline-block; /* Make paragraphs inline blocks */
    margin: 5px; /* Add spacing between buttons */
}

.child a {
    background: #9FB8AD;
    color: #3F403F;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.child a:hover {
    background: #8FA89D;
}

img {
    width: 2in;
    height: 2in;

}

header div img {
    position: absolute;
    top: 20px; /* Adjust the distance from the top */
    right: 20px; /* Adjust the distance from the right */
    width: 2in;
    height: 2in;
    border-radius: 50%; /* Optional: Makes the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow */
}