h1 {
    text-align: center;
}

body {
    margin: 0px;
}
.navbar ul {
    list-style: none;
    background-color: #9FB8AD;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.navbar a {
    color: azure;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
    background-color: #E6E8E6;
    color: yellow;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar li {
    float: left;
}