.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #3F403F;
}

header {
    background-color: #3F403F;
    color: #9FB8AD;
    text-align: center;
    padding: 1em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 95%;
    margin: 20px auto;
    color: #9FB8AD;
    font-family: Rubik;
}


section h2 {
    border-bottom: 1px solid #9FB8AD;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.music-category {
    background-color: #475841;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.music-category h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.music-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.music-item {
    background-color: #3F403F;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #9FB8AD;
    width: calc(33.33% - 15px);
    box-sizing: border-box;
    text-align: center;
}

.album-cover {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.music-item h3 {
    margin: 5px 0;
}

.music-item p {
    margin: 0;
    font-size: 0.9em;
    color: #E6E8E6;
}



.topbtn a {
    background: #9FB8AD;
    color: #3F403F; 
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 4px 8px;
    font-size: 15px;
    font-family: Rubik;
  }
  
  .back:hover {
    background-color: #E6E8E6;
    box-shadow: 0 6px 12px gray; 
  }